/*Wrapper And Layouts*/

/*Grid Names*/
.banner {grid-area: banner;}
.menu {grid-area: menu;}
.alt_nav {grid-area: altnav;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}



#wrapper {
    max-width:110em;
    margin: 0 auto;
    background-color: #646165;

    display: grid;
    grid-template-areas:
        "banner"
        "menu"
        "altnav"
        "main"
        "aside"
        "footer"
        ;
}

/*Tablet Portrait*/
@media (min-width: 50em) {
    #wrapper {
        grid-template-columns: 6fr 3fr;
        grid-template-areas: 
        "banner banner"
        "menu menu"
        "main altnav"
        "main aside"
        "footer footer"
        ;
    }
}

/*Desktop*/
@media (min-width: 60em) {
    #wrapper {
        grid-template-columns: 2fr 5fr 2fr;
        grid-template-areas: 
        "banner banner banner"
        "menu menu menu"
        "main main altnav"
        "main main aside"
        "footer footer footer"
        ;
        }
}


/*menu bar css*/
.menu a {
    display: block;
    color: #000;
    padding: 5px;
    text-decoration: none;
    border-radius: 0px;
}
.menu ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #80f170;
    position: sticky;
    padding-inline-start: 0em;
}
.menu li {
    float: left;
}
.menu li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    
}
.menu a:hover {
    background-color: #ccc;
    color: #000000;
}

body{
    font-family: Verdana, sans-serif;
    background-color: #ffffff;
}

/*Heading and Paragraph CSS*/
h1{
    color: white;
    padding-left: 10px;
}

h2{
    color: white;
    padding-left: 10px;
}

p{
    color: white;
    padding-left: 10px;
}

/*HREF Links*/
.link{
    color: white;
}

/* unvisited link */
a:link {
}

/* visited link */
a:visited {
}

/* mouse over link */
a:hover {
    background-color: white;
    color: black;
}

/*Lists*/
ul{
    color: white;
}

ol{
    color: white;
}

/*Images*/
img{
    padding: 10px;
    size: auto;
}

/*articles and their content*/
.network_security{
    margin-top: 20px;
    border-style: solid;;
    border-color: white;
    border-radius: 10px;
    border-width: 3px;
}
/*article with class named textbox*/
.textbox{
    text-align: 5px;
    background-color: #e8e8e8;
    height: auto;
    padding: 10px;
    grid-template-columns: 50% 50%;
    display: grid;
    margin: 10px;
}

/*divider for text in the article*/
.textdiv{
    padding: 10px;
    background-color: whitesmoke;
    text-align: inline;
}

/*divider for image in the article*/
.imagedisplay{
    padding:0px 0px 10px 10px;
}

/*image on the right fam*/
.image_right{
    width:100%
}