.menu{
    background-color :#C8E087;
    height :10%;
    padding-top:2px;
    color:black;    
}

.menutxt{
    color:white;
    font-style: none;
}

.navbar{
    
    display: inline;
    background-color: #95A472;
    font-size: 20px;
    color: black;
    padding:4px;
    text-decoration:none;
}

body{
    font-family: Verdana, sans-serif;
    background-color: #DDFCAD;
}